- provide(:title, "Home")
.row.heading.text-center
  .col-xs-12
    %ul
      %li
        %h1 Development Economics
      %li 
        %h4.gray Playlists of research papers for the big questions in development economics
        
%ul.collections
  - @collections.each do |collection|
    %li
      %div{:class => 'bg-img', :style => %(background-image:url(/assets/#{collection.image_url}))}

      / style: "background-image: url(_#{image_path image_url}_)"}
      =link_to collection_path(collection) do
        %span= collection.name
        %span.question-count= "#{pluralize(collection.lists.count, 'research question')}"


/ %div{:class => 'styled_div', :style => %(background:url("#{resource.background.url(:medium)}") no-repeat center)}
