.page-header.v-collections.v-brown{style: %(background-image:url(/assets/librarydrawing-6d55a7e7d1ed6ec639a1d5d7942261bd.jpg))}
  .page-header--shadow
    .container
      .title.v-big
        %h2= @collection.title
        %br
        %h4= "Created by #{@collection.user.email}"
.container
  -if @items.empty?
    %h3
      There's nothing here! This collection needs a little love
      %i.fa.fa-heart
    %h3 
      Visit your
      = link_to 'personal feed', root_url
      and add papers with the 'Collect' button

    =link_to root_path, class: "btn btn-frontier-visible" do
      Get movin'
      %i.fa.fa-chevron-right
      
  -else
    = render @items
