.add_new_item
  %li.item_title
    = f.label :title, "Title"
    = f.text_field :title

  %li.item_url
    = f.label :url, "URL"
    = f.text_field :url

  %li.item_abstract
    = f.label :abstract, "Abstract"
    = f.text_area :abstract

  %li.item_author
    = f.label :author, "Author"
    = f.text_field :author

  %li.item_journal
    = f.label :journal, "Journal"
    = f.text_field :journal

  %li.item_year
    = f.label :year, "Year"
    = f.text_field :year