.post-item
  .post-item-content
    / %span.title--subtext.post-date= "#{list.updated_at.strftime('%A')}"
    .post-follow-button
      - if user_signed_in?
        = render partial: 'lists/follow_form', locals: {list: list, destination: @destination} 
      - else
        .follow-form#follow_form.new_subscription{id: "list" + list.id.to_s}
          %button.btn-primary.btn{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
            Follow
          %ul
          = render partial: 'shared/sign_in_modal'
    =link_to(list) do
      .post-item--actions
        .post-item--actions--users
          %span.post-item--actions--user
            - if !(User.find_by(id: list.submitter) == nil)
              .profile-img= image_tag(User.find_by(id: list.submitter).image)
      .post-item--text
        .post-item--text--name
          %span= list.title


          / - if list.created_at > Time.now - 24.hours
          / %span.title--subtext.new NEW!
        .post-item--subtext
          =raw list.subtitle
        .post-item--text-tags
          Topics:
          - list.tags.each do |tag| 
            %span.post-item--text-tag{class: "tag-" + tag.name}= tag.name
