%li.feed-item
  .row
    .col-xs-8.basic-info
      %h5=link_to list.title, list_path(list), class: "title"
      %span.timestamp.gray= "updated #{time_ago_in_words(list.created_at)} ago;"
      %span.item-count.gray=pluralize(list.items.count, 'paper')
      - list.tags.each do |tag|
        %span.tag= tag.name
    .col-xs-4.social-info.text-right
      - if list.curator != (nil || '')
        =link_to list.curator_url do
          / # = image_tag "photo.jpg", class: "photo"
          %span.gray Edited by 
          %span= link_to "#{list.curator}", list.curator_url

      / =image_tag "photo.jpg", class: "photo"
      / =link_to "#{list.curator}", list.curator_url
