.post-item
  .post-item-content
    .post-follow-button
      - if user_signed_in?
        = render partial: 'lists/follow_form', locals: {list: list} 
      - else
        .follow-form#follow_form{id: "list" + list.id.to_s}
          %button.btn-invisible.new_subscription{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
            %i.fa.fa-plus-circle
          %ul
            %li GET UPDATES
            %li= pluralize(list.users.count, 'subscriber')
          = render partial: 'shared/sign_in_modal'
    =link_to(list) do
      .post-item--actions
        .post-item--actions--users
          %span.post-item--actions--user
            .profile-img= image_tag(User.find_by(id: list.submitter).image)
      .post-item--text
        .post-item--text--name
          = list.title
        .post-item--subtext
          =raw list.subtitle
        .post-item--text-tags
          Topics:
          - list.tags.each do |tag| 
            %span.post-item--text-tag{class: "tag-" + tag.name}= tag.name
