- provide(:title, "New List")
%h1 New List

= form_for(@list) do |f|
<<<<<<< HEAD
  = f.label :title
  = f.text_field :title
  = f.label :published
  = f.check_box :published
  
  = f.submit "Create list"
=======
  = render 'list_fields', f: f
>>>>>>> adminedits




/ <div class="row">
/   <div class="span6 offset3">
/     <%= form_for(@user) do |f| %>
/       <%= render 'fields', f: f %>
/       <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
/     <% end %>
/   </div>
/ </div>