- provide(:title, @list.title)

.overlay.hide

.list-show
  .modal-man.hide
    This is my time
    %button.ex click out
  .row
    .col-xs-12.list-title
      %h3= @list.title
      - if current_user.try(:admin?)
        = button_to "Edit", edit_list_path(@list), method: "get"
    
  .row
    - if @list.sources 
      .col-xs-12.source
        %ul
          %li
            %a{href:"#"}
              %i.fa.fa-info-circle
              =raw @list.sources

  .row
    .col-xs-12
      .overview
        .overview-heading
          %h4.overview-title
            %i.fa.fa-newspaper-o
            Overview
        .overview-body
          = raw @list.description

  .row
    .col-xs-12
      .papers
        .papers-heading
          %h4.papers-title
            %i.fa.fa-newspaper-o
            Recommended Papers
        .papers-body
          .table-responsive
            %table.table.table-bordered.table-hover
              %tr
                %td
                  %b Date
                %td
                  %b Title
                %td 
                  %b Authors
                %td
                  %b Journal
              - @list.items.each do |item|
                %tr.clickable-row{ "data-href" =>('/items/' + item.id.to_s) }
                  %td= item.year
                  %td= link_to item.title, item, "data-remote" => "true"
                  %td= item.author
                  %td= item.journal


:javascript
    $(document).ready( function() {
      $('.user-link').click( function() {
        mixpanel.track("Clicked a curator");
      });
      $('.overlay').click( function() {
        $('.overlay').addClass('hide');
        $('.modal-man').addClass('hide');
      });

    });

