- provide(:title, @list.title)

/ .overlay.hide
.recommendation-modal.hide
.list-show
  .row
    .col-xs-12.list-title
      %h3= @list.title
      - if current_user.try(:admin?)
        = button_to "Edit", edit_list_path(@list), method: "get"
    
  .row.section
    - if @list.sources 
      .col-xs-12.source
        %ul
          %li
            %i.fa.fa-info-circle
            This entry is based on
            =raw @list.sources

  .row.section
    .col-xs-12
      .overview
        .overview-heading
          %h4.overview-title
            %i.fa.fa-comments-o
            Overview
        .overview-body
          = raw @list.description

  .row.section
    .col-xs-12
      .papers
        .papers-heading
          %h4.papers-title
            %i.fa.fa-newspaper-o
            Recommended Papers
            .btn-primary.btn.btn-primary-text= link_to "Recommend a Paper", new_recommendation_path, remote: true

        .papers-body
          .table-responsive
            %table.table.table-bordered.table-hover
              %tr
                %td
                  %b Date
                %td
                  %b Title
                %td 
                  %b Authors
                %td
                  %b Journal
              - @list.items.each do |item|
                %tr.clickable-row{ "data-href" =>('/items/' + item.id.to_s) }
                  %td= item.year
                  %td
                    = link_to item.title, item, "data-remote" => "true"
                    - if item.syllabus
                      %span.syllabus= "ON A SYLLABUS"
                  %td= item.author
                  %td= item.journal

  

  .row.section
    - @list.users.each do |curator|
      = link_to curator.link do
        .col-xs-3
          .div.panel
            .div.panel-main
              .row
                .col-xs-3
                  = image_tag("#{curator.first_name}_#{curator.last_name}.jpg")
                .col-xs-9
                  %ul
                    %li 
                      %h4= "#{curator.first_name} #{curator.last_name}"
                    %li
                      - if curator.school == "Harvard University"
                        = "Harvardian"
                      - elsif curator.school == "Yale University" 
                        = "Yalie"
                      - elsif curator.school == "MIT"
                        = "MIT'er"
                      - else
                        = curator.school
                    %li= curator.position 
            .div.panel-sub
              .row
                .col-xs-12
                  - if curator.lists.count > 1
                    = "Helped write this and #{pluralize (curator.lists.count - 1), 'other entry'}"
                  - else
                    = "Helped write this entry"
    



:javascript
    $(document).ready( function() {
      $('.user-link').click( function() {
        mixpanel.track("Clicked a curator");
      });
      $('.overlay').click( function() {
        $('.overlay').toggleClass('hide');
        $('.item-modal').addClass('hide');
        $('.recommendation-modal').addClass('hide')
      })
    });

