- provide(:title, @list.title)
.list-show 
  .row
    .col-xs-9.main-content
      .row
        .col-xs-12
          %h4= @list.title

      .row.list-info
        .col-xs-12
          %ul.gray
            %li
              %span.gray Edited by 
              %span= link_to "#{@list.curator}", @list.curator_url
            %li
              = "Published #{time_ago_in_words(@list.created_at)} ago"
            %li
              = "Updated #{time_ago_in_words(@list.updated_at)} ago"
            %li.pt10.pb10.attention
              Want to contribute to this page, either by editing the summary or adding papers? Email 
              = mail_to "info@researchgps.com"
              and we'll be in touch. Editing is open to PhD students at Harvard, Yale, and MIT. 

      .row.content
        .col-xs-12.description
          = raw @list.description
        .col-xs-12.list-wrapper
          = render @items
    .right-sidebar
      %ul#sidebar-nav-right
        %li.gray#prompt Click on an article to view its abstract here