- provide(:title, @list.title)
.list-show 
  .row
    .col-xs-9.main-content
      .row
        .col-xs-12
          %h3= @list.title
          - if current_user.try(:admin?)
            = button_to "Edit", edit_list_path(@list), method: "get"
          - if !(@list.published?)
            %span#unpublished= "DRAFT"
      .row.list-info
        .col-xs-12.sources
          %br
          - if @list.sources
            This entry is based on
            = raw @list.sources

        / .col-xs-12
        /   %ul
        /     %li
        /       = "Published #{time_ago_in_words(@list.created_at)} ago, Updated #{time_ago_in_words(@list.updated_at)} ago"
        /     / %li
        /     /   = "Viewed #{pluralize(@list.view_count, 'time')}"
        /     / %li.pt10.pb10.attention
        /     /   Want to contribute to this page, either by editing the summary or adding papers? Email 
        /     /   = mail_to "info@researchgps.com"
        /     /   and we'll be in touch. 
        / / .col-xs-12
        / /   %ul.table-of-contents
        / /     %li= link_to "Overview", '#overview'
        / /     %li= link_to "Relevant Papers", '#papers'
        / /     %li= link_to "Contributors", '#contributors'
      .row.content#overview
        %h4 Overview
        .col-xs-12.description
          = raw @list.description
          %h4= "Recommended Papers"
        .col-xs-12.list-wrapper#papers
          - if @items != []
            = render @items 
          - else
            = "We do not know of any papers that address '#{@list.title}.' If you know of some, please email us at"
            = mail_to "info@researchgps.com"
          %h4 Curators
        .col-xs-12.contributors#contributors
          %br
          - @list.users.each do |user|
            %li.byline
              =link_to user.link do
                %span.profile-img= image_tag("#{user.first_name}_#{user.last_name}.jpg")
                %span.name= "#{user.first_name} #{user.last_name}, #{user.school}"
      / / .row
      /   .col-xs-12.list-info 
      /     %ul.gray
      /       %li
      /         %span.gray Contributors: 
      /         %ul
      /           - @list.users.each do |user|
      /             %li.byline
      /               =link_to user.link do
      /                 %span.profile-img= image_tag("#{user.first_name}_#{user.last_name}.jpg")
      /                 %span.name= "#{user.first_name} #{user.last_name}, #{user.school}" 

    .right-sidebar
      %ul#sidebar-nav-right
        %li.gray#prompt Click on an article to view its abstract here


:javascript
    $(document).ready( function() {
      $('.user-link').click( function() {
        mixpanel.track("Clicked a curator");
      });
    });