- provide(:title, "Home")
%nav.pitch-box.navbar.navbar-default{"data-spy" => "affix", "data-offset-top" => "90"}
  .container
    %ul.navbar-header
      %li 
        - if user_signed_in?      
          %h3#journal
            ="Journal of"
            - if current_user.first_name.nil?
              = current_user.email
            -else
              = "#{current_user.first_name} #{current_user.last_name}"
        - else
          %h3 ResearchFrontier is a daily feed of the best new research, personalized for you.
    -if user_signed_in?
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li#create-collection-btn
            = link_to new_collection_path, class: "btn" do
              %i.fa.fa-plus-circle
              Create a Collection
          %li#collections-btn
            %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              = "Collections (#{collection_count})"
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
              - if user_signed_in?
                - current_user.collections.each do |collection|
                  =link_to collection_path(collection) do
                    %li.dropdown-option= collection.title
              - else
                %li= link_to "Sign in to view collections", new_user_session_path

    / %ul.nav.navbar-nav
    /   - if user_signed_in?
    /     %li
    /       %h3#journal
    /         = "Journal of"
    /         - if current_user.first_name.nil?
    /           = current_user.email
    /         -else
    /           = "#{current_user.first_name} #{current_user.last_name}"
    /   -else 
    /     %h3 ResearchFrontier is a daily feed of the best new research, personalized for you.
    / %ul.nav.navbar-nav.navbar-right
    /   %li.pull-right.collection-button
    /     =link_to new_collection_path, class: "btn btn-default btn-primary btn-success" do
    /       %i.fa.fa-plus-circle
    /       Create a collection

    / %li




.container
  .row
    - if user_signed_in?
      .col-sm-3.tags
        %h5 Your Tags
        %ul
        - if user_signed_in?
          - current_user.tags.each do |tag|
            %li
              %span.tag=tag.name
      .col-sm-9.col-xs-12
        %ul
          - @feed_groups.each do |(month, date), items|
            %h4.day.v-big
              %span= format_date(date.to_date.strftime('%B %d %A'))
              %span.title--subtext= date.to_date.strftime('%B %d %A').rpartition(' ').first
            / .container
            .feed_group= render items

        #infinite-scrolling
          = will_paginate @feed_groups
    -else
      .col-xs-12
        %ul
          - @feed_groups.each do |(month, date), items|
            %h4.day.v-big
              %span= format_date(date.to_date.strftime('%B %d %A'))
              %span.title--subtext= date.to_date.strftime('%B %d %A').rpartition(' ').first
            / .container
            .feed_group= render items

        / .container  
        #infinite-scrolling
          = will_paginate @feed_groups

:javascript
  $(document).on('click', '.collect-btn', function(event) {
      mixpanel.track("Collect")
  })
  $(document).ready( function() {    
    / alert(Ethan)
  })

