- provide(:title, "Home")

.pitch-box
  .container
    .row
      .col-xs-6
        %h3 ResearchFrontier is a daily feed of the best new research, personalized for you.
      .col-xs-6
        .center.vertical-container
          - if user_signed_in?
            = "Welcome, #{current_user.email}!"
          - else 
            / %button.btn.pull-right
            /   Join the beta

%ul
  - @feed_groups.each do |date, items|
    %h4.day.v-big
      %span= format_date(date)
      %span.title--subtext= date.rpartition(' ').first
    .container
      = render items

      = will_paginate @feed_groups