- provide(:title, "Home")
= javascript_tag do
  window.Ethan = "<%=j @feed_groups %>";
.pitch-box
  .container
    .row
      .col-xs-6
        %h3 ResearchFrontier is a daily feed of the best new research, personalized for you.
      .col-xs-6
        .center.vertical-container
          - if user_signed_in?
            = "Welcome, #{current_user.email}!"
          - else 
            / %button.btn.pull-right
            /   Join the beta

%ul
  - @feed_groups.each do |(month, date), items|
    %h4.day.v-big
      %span= format_date(date.to_date.strftime('%B %d %A'))
      %span.title--subtext= date.to_date.strftime('%B %d %A').rpartition(' ').first
    .container
      = render items

.container  
  = will_paginate @feed_groups


:javascript
  $(document).on('click', '.collect-btn', function(event) {
      mixpanel.track("Collect")
  })
  $(document).ready( function() {    
    alert(Ethan)
  })
