- provide(:title, "Home")

.row.text-center
  .col-xs-12.signup-form
    %ul 
      %li New features are coming. Be the first to know about it.
      %li
        = form_for @email_signup, remote: true do |f|
          = render 'shared/error_messages', object: f.object
          / %div.field
          %li= f.text_field :email, placeholder: "What's your email?"
          %li= f.submit "Get updates!", class: "btn btn-large btn-primary", id: "submit"

.row.heading.text-center
  .col-xs-12 
    %ul
      %li 
        %h2 Development Economics GPS
        %h3.gray.slogan The PhD's handbook to cutting-edge research

.search
  %input{autofocus: "true", autocomplete: "off", class: "instantsearch", id: "q", placeholder: "Search your research interest (e.g. school vouchers)", type: "text", spellcheck: "false"}


#display
  #hits
  :javascript
    var $inputfield = $('#q');
    var $hits = $('#hits');
  .instructions
    .row.research-collection
      .col-xs-12
        %h3.gray Research Collections
    .collection-div
      %ul.collections.pull-center
        - @collections.each do |collection|
          %li
            %div{:class => 'bg-img', :style => %(background-image:url(/assets/#{collection.image_url}))}

            / style: "background-image: url(_#{image_path image_url}_)"}
            =link_to collection_path(collection) do
              %span= collection.name
              %span.question-count= "#{pluralize(collection.lists.count, 'research question')}"

  :javascript
    var $instructions = $('.instructions')