- provide(:title, "Home")
.row.heading.text-center
  .col-xs-12 
    %ul
      %li 
        %h2 Development economics at your fingertips
        %h4.gray.slogan A "scholar-sourced" database of research on the cutting edge 

.search
  %input{autofocus: "true", autocomplete: "off", class: "instantsearch", id: "q", placeholder: "Search any topic in development economics (e.g. microcredit)", type: "text", spellcheck: "false"}



#display

  #hits
  :javascript
    var $inputfield = $('#q');
    var $hits = $('#hits');
  .instructions
    %ul.collections
      - @collections.each do |collection|
        %li
          %div{:class => 'bg-img', :style => %(background-image:url(/assets/#{collection.image_url}))}

          / style: "background-image: url(_#{image_path image_url}_)"}
          =link_to collection_path(collection) do
            %span= collection.name
            %span.question-count= "#{pluralize(collection.lists.count, 'research question')}"

  :javascript
    var $instructions = $('.instructions')