- provide(:title, "People")


.row.people
  .col-xs-12
    %h4 
      DevEc GPS is a community of development economists who work at the frontier and want to share their knowledge with each other. Want to join? Email 
      =mail_to "info@devecgps.com"
    %br
  - User.all.each do |curator|
    - if curator.lists.count > 0
      = link_to curator.link do
        .col-md-3
          .div.panel
            .div.panel-main
              .row
                .col-xs-3
                  = image_tag("#{curator.first_name}_#{curator.last_name}.jpg")
                .col-xs-9
                  %ul
                    %li 
                      %h4= "#{curator.first_name} #{curator.last_name}"
                    %li
                      = curator.school
                    %li= curator.position 
            .div.panel-sub
              .row
                .col-xs-12
                  - if curator.lists.count > 1
                    = "Helped write #{pluralize (curator.lists.count - 1), 'entry'}"