.list
  %h4 Controversy Over Reinhart and Rogoff's Claim That Debt Reduces Growth
  %ol
    %li
      .title= link_to "Growth In a Time of Debt (January 2010)", "http://www.nber.org/papers/w15639.pdf"
      .author Carmen M. Reinhart and Kenneth S. Rogoff
      .description Policymakers should be concerned about the rise of government debt after the 2008 financial crisis. When debt levels reach 90% of GDP, a country’s growth rate falls by 1%. When debt levels rise above 90%, the growth rate falls by half. 

    %li
      .title= link_to "The Impact of High Government Debt on Economic Growth and Its Channels: An Empirical Investigation for the Euro Area (August 2010)", "http://core.kmi.open.ac.uk/download/pdf/6380060.pdf"
      .author Cristina Checherita and Philipp Rother
      .description In consensus with Reinhart-Rogoff, growth rates in European countries fall when debt levels reach 90-100% of GDP. This data strengthens the case for a policy of “ambitious debt reduction” in the euro area.

    %li
      .title= link_to "Does high public debt consistently stifle economic growth? A critique of Reinhart and Rogoff (April 2013)", "https://umassmed.edu/uploadedFiles/QHS/Camb.%20J.%20Econ.-2013-Herndon-cje-bet075.pdf"
      .author Thomas Herndon, Michael Ash and Robert Pollin
      .description Reinhart-Rogoff’s “Growth In a time of Debt” distorts the relationship between debt and GDP growth. Their miscalculation is the result of coding errors, the exclusion of some data, and the inappropriate weighting of summary statistics. GDP growth is not dramatically different when debt exceeds 90% of GDP.

    %li
      .title= link_to "The 90% Public Debt Threshold: The Rise and Fall of a Stylised Fact (May 2013)", "http://papers.ssrn.com/sol3/Delivery.cfm/SSRN_ID2274628_code459177.pdf?abstractid=2274628&mirid=1"
      .author Balázs Égert
      .description In consensus with Herndon et al, the relation between debt and growth is not robust using formal econometric techniques. The results may suggest that growth declines when debt levels reach 20% of GDP, but there is substantial variation from country to country.

    %li
      .title= link_to "Reinhart and Rogoff: Responding to Our Critics (April 25, 2013)", "http://www.nytimes.com/2013/04/26/opinion/reinhart-and-rogoff-responding-to-our-critics.html?pagewanted=all&_r=0"
      .author Carmen M. Reinhart and Kenneth S. Rogoff
      .description Median values in “Growth In a Time of Debt” are on par with what Herndon et al find. There were coding errors but not statistical ones. The frontier question for research is (ought to be) whether there is a causal link between debt and growth, and if so, how.