.list
  %h4 The 10 Most Influential Economics Papers Of All Time
  %ol
    %li
      .title= link_to "The Use of Knowledge in Society (1945)", "http://www.aeaweb.org/aer/top20/35.4.519-530.pdf"
      .author Friedrich Hayek
      .description Prices must be the focal point of all economics decisions.

    %li
      .title= link_to "The Cost of Capital, Corporation Finance and the Theory of Investment (1958)", "http://www.aeaweb.org/aer/top20/48.3.261-297.pdf"
      .author Franco Modigliani and Merton Miller
      .description A firm's total market value is invariant to its borrowing behavior.

    %li
      .title= link_to "Do Stock Prices Move Too Much to be Justified by Subsequent Changes in Dividends? (1981)", "http://www.aeaweb.org/aer/top20/35.4.519-530.pdf"
      .author Robert Shiller
      .description Stock price volatility is far too great to be simply attributed to new information about future real dividends.

    %li
      .title= link_to "An Almost Ideal Demand System (1980)", "http://www.aeaweb.org/aer/top20/70.3.312-326.pdf"
      .author Angus S. Deaton and John Muellbauer
      .description You can predict household demand based on the relative costs of "subsistence" versus "bliss".

    %li
      .title= link_to "Uncertainty and the Welfare Economics of Medical Care (1963)", "http://www.aeaweb.org/aer/top20/53.5.941-973.pdf"
      .author Kenneth J. Arrow
      .description The health care market is too plagued by moral hazard and consumers' lack of information to be viewed as free.

    %li
      .title= link_to "Some International Evidence on Output-Inflation Tradeoffs (1973)", "http://www.aeaweb.org/aer/top20/63.3.326-334.pdf"
      .author Robert E. Lucas Jr.
      .description You can model what happens when consumers make decisions without knowing whether a  price change also signals a relative price change.

    %li
      .title= link_to "The Role of Monetary Policy (1968)", "http://www.aeaweb.org/aer/top20/58.1.1-17.pdf"
      .author Milton Friedman
      .description There exists a "natural rate of unemployment," or the number of jobs a given economy can support.

    %li
      .title= link_to "Monopolistic Competition and Optimum Product Diversity", "http://www.aeaweb.org/aer/top20/67.3.297-308.pdf"
      .author Avinash K. Dixit and Joseph E. Stiglitz
      .description Product variety can influence the way the market dictates resource allocation. The market considers profits, while a social optimum takes into account the consumer's surplus.

    %li
      .title= link_to "A Theory of Production", "http://www.aeaweb.org/aer/top20/18.1.139-165.pdf"
      .author Charles W. Cobb and Paul H. Douglas
      .description You can figure out how much production a given amount of capital and labor can yield.

    %li
      .title= link_to "Optimal Taxation and Public Production", "http://www.aeaweb.org/aer/top20/61.1.8-27.pdf"
      .author Peter A. Diamond and James A. Mirrlees
      .description It is possible to set taxes that minimize distortions and disincentives, and eliminate production inefficiencies.