.row
  .col-xs-12
    .item-title
      %h4.pdf= link_to @item.title, @item.url

  .col-xs-12
    .item-author.gray= @item.author

  / .col-xs-12
  /   #read-item.btn.btn-success.btn-primary-text
  /     =link_to @item.url do
  /       Read Now

  - if @item.syllabus
    .col-xs-12
      .flag.flag-syllabus.flag-explanation
        This paper is on a graduate course syllabus at Harvard or MIT

  - if @item.user_items.where(recommend: true).count > 0
    .col-xs-12
      .flag-explanation
        %ul
          %li.flag.flag-recommend.flag-explanation This paper has been recommended by
          - @item.user_items.each do |user_item|
            - if user_item.recommend?
              %li
                %span.profile-img= image_tag("#{user_item.user.first_name}_#{user_item.user.last_name}.jpg")
                %span= "#{user_item.user.first_name} #{user_item.user.last_name}, #{user_item.user.position} at #{user_item.user.school}"


  .col-xs-12
    .item-lists
      - if @item.lists.count > 1
        %ul
          %h5.item-lists-header= "This paper addresses #{@item.lists.count} research questions"
          - @item.lists.each do |list|
            %li= link_to list.title, list

  .col-xs-12
    .abstract
      %ul
        %h5.abstract-header Abstract
        %li= raw @item.abstract




- if current_user.try(:admin?)
  ID:
  = @item.id
:javascript
    $(document).ready( function() {
      $('.item-title').click( function() {
        mixpanel.track("Clicked to read PDF");
      });
    });