%header.header
  %div
    .header--primary
      .container
        =link_to root_url, class: "brand" do 
          .logo
            %i.fa.fa-fast-forward
          .brand--title.u-hidden-on-small-screen
            = link_to root_url do
              %h1 
                %span ResearchFrontier
                %div
                  %sup SOCIAL SCIENCE
            / %h5 Follow topics in development and never miss a new finding
        %ul.header--nav
          %span#new-collection
            =link_to new_collection_path, class: "btn btn-success" do
              %i.fa.fa-plus-circle
              Create a collection

          %span.dropdown
            %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              = "Collections (#{collection_count})"
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
              - if user_signed_in?
                - current_user.collections.each do |collection|
                  =link_to collection_path(collection) do
                    %li.dropdown-option= collection.title
              - else
                %li= link_to "Sign in to view collections", new_user_session_path
          - if user_signed_in?
            %li.btn#logout= link_to "Log Out", destroy_user_session_path, method: 'delete'
          -else
            %li.btn#login= link_to "Log In", new_user_session_path


:javascript
  $('#login').click(function() {
    mixpanel.track("Log in")
  })
  $('#logout').click(function() {
    mixpanel.track("Log out")
  })
  $('.dropdown-option').click(function() {
    mixpanel.track("View collection")
  })
  $('#new-collection').click(function() {
    mixpanel.track("Create new collection")
  })









